*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 24px;
  min-height: 100svh;

  background-color: #ffffff;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #cecfd5,
    #cecfd5 1px,
    #ffffff 1px,
    #ffffff
  );
}

body > header,
body > main,
body > footer {
  padding: 24px 0;
  text-align: center;
}

body > header {
  text-align: center;
  h1 {
    font-weight: lighter;
    color: #ffffff;
    font-size: 3.75em;
    text-shadow: 0px 2px 4px darkorange, 0px -2px 60px black;
  }
}

p {
  color: #333;
}
body > main {
  position: fixed;
  top: -9999999px;
}
.diploma {
  position: fixed;
  top: -9999999px;
  color: #333;
  display: block;
  background: rgb(248, 233, 149) url("../img/lapiz.png") repeat 0 0 / 24px;
  width: 720px;
  height: 528px;
  padding-top: 24px;
  padding-left: 24px;
  text-shadow: none;

  article {
    width: 670px;
    height: 482px;
    padding: 12px;
    background-color: #f8e995;
    font-size: 28px;
    text-align: center;
    display: grid;
    grid-gap: 12px;
    grid-template-areas:
      "logo escuelita escuelita"
      "enunciado enunciado enunciado"
      "añadirnombre añadirnombre añadirnombre"
      "descripcion descripcion descripcion"
      "firma firma firma";
  }

  .outputName {
    border-bottom: 1px solid grey;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: inline-block;
  }

  .logo {
    width: 128px;
    grid-area: logo;
  }

  .escuelita {
    display: inline-block;
    width: 300px;
    grid-area: escuelita;
    align-self: flex-end;
  }

  .enunciado {
    font-weight: bold;
    grid-area: enunciado;
    line-height: 1.25em;
  }

  .añadirNombre {
    grid-area: añadirnombre;
  }

  .descripcion {
    grid-area: descripcion;
    font-size: 22px;
  }
  .firma {
    display: inline-block;
    padding: 0.25em 0 0 0;
    font-size: 18px;
    grid-area: firma;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    .chapa {
      width: 80px;
    }

    i {
      width: fit-content;
      border-top: 1px solid grey;
    }
  }
}

body > aside {
  background-color: darkorange;
  padding: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  max-width: 480px;
  margin: 0 auto;

  label span {
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0.5em 0;
    font-size: 1.5em;
  }

  label,
  input,
  button {
    width: 100%;
    max-width: 320px;
  }

  input,
  button {
    height: 48px;
    border-radius: 4px;
    border: 0;
    outline: none;
    box-shadow: none;
    padding: 1em;
  }

  button {
    background-color: green;
    color: white;
  }
}

body > footer {
}
